<!--The content below is only a placeholder and can be replaced.-->
<h1>Dojo Mail</h1>

<table class="table">
  <thead>
    <th>Email</th>
    <th>Importance</th>
    <th>Subject</th>
    <th>Content</th>
  </thead>
  <tbody>
    <tr *ngFor="let mail of mails">
      <td class="row">{{mail.email |lowercase}}</td>
      <td class="row" *ngIf='mail.importance'>High</td>
      <td class="row" *ngIf='!mail.importance'>Low</td>
      <td class="row" >{{mail.subject }}</td>
      <td class="row" >{{mail.content }}</td>
    </tr>
  </tbody>
</table>

